html {
    min-height: 100%;
}
body {
    background: -webkit-linear-gradient(#74aab8, #b4efef);
    background: -o-linear-gradient(#778aec, #adb0f8);
    background: -moz-linear-gradient(#619bff, #c9eefa);
    background: linear-gradient(#4fbfe2, #5772fa);
    background-color: #5581cd;
}